version: 2.1

build-filters: &build-filters
  tags:
    ignore: /.*/
  branches:
    only: /.*/

never-filter: &never-filter
  tags:
    ignore: /.*/
  branches:
    ignore: /.*/

master-filters: &master-filters
  tags:
    ignore: /.*/
  branches:
    only: master


commands:
  build-and-push-hashed:
    description: "Build the image and push the hashed version"
    parameters:
      image_name:
        type: string
    steps:
      - run: make -C << parameters.image_name >> pull-latest
      - run: make -C << parameters.image_name >> build
      - run: make -C << parameters.image_name >> push-hashed

  tag-and-push-versioned:
    description: "Tag the hashed version with the pmdarima version and push it"
    parameters:
      image_name:
        type: string
    steps:
      - run: make -C << parameters.image_name >> pull-hashed
      - run: make -C << parameters.image_name >> tag-version
      - run: make -C << parameters.image_name >> push-versioned

  tag-and-push-latest:
    description: "Tag the hashed version as latest and push it"
    parameters:
      image_name:
        type: string
    steps:
      - run: make -C << parameters.image_name >> pull-hashed
      - run: make -C << parameters.image_name >> tag-latest
      - run: make -C << parameters.image_name >> push-latest

jobs:

  ####################### Circle Pypy build and push ##########################
  circle-pypy-base:
    working_directory: ~/pmdarima-docker
    docker:
      - image: circleci/python:3.6.5
    steps:
      - setup_remote_docker
      - checkout
      - run: make docker-login
      - build-and-push-hashed:
          image_name: "circle-pypy-base"

  tag-circle-pypy:
    working_directory: ~/pmdarima-docker
    docker:
      - image: circleci/python:3.6.5
    steps:
      - setup_remote_docker
      - checkout
      - run: make docker-login
      - tag-and-push-latest:
          image_name: "circle-pypy-base"

  ########################### cPython base image ##############################
  cpython:
    working_directory: ~/pmdarima-docker
    docker:
      - image: circleci/python:3.6.5
    steps:
      - setup_remote_docker
      - checkout
      - run: make docker-login
      - build-and-push-hashed:
          image_name: "cpython"

  tag-cpython:
    working_directory: ~/pmdarima-docker
    docker:
      - image: circleci/python:3.6.5
    steps:
      - setup_remote_docker
      - checkout
      - run: make docker-login
      # This is one we want to version
      - tag-and-push-versioned:
          image_name: "cpython"
      - tag-and-push-latest:
          image_name: "cpython"

  ######################### Flag for all successful ##########################
  all-images-built-successfully:
    docker:
      - image: bash:latest
    steps:
      - run: echo "All images built successfully"

workflows:
  version: 2
  pmdarima-image-pipeline:
    jobs:
      # Image builds ######################
      - circle-pypy-base:
          filters: *never-filter

      - cpython:
          filters: *build-filters

      - all-images-built-successfully:
          requires:
            - circle-pypy-base
            - cpython
          filters: *build-filters

      # Image tags ########################
      - tag-circle-pypy:
          requires:
            - all-images-built-successfully
          filters: *never-filter

      - tag-cpython:
          requires:
            - all-images-built-successfully
          filters: *master-filters
