name: Keep Docker in Sync

on:
  schedule:
    - cron: '0 7 * * *'  # Every day at 07:00 UTC (1AM CST or 2AM CDT)

jobs:
  keep-docker-in-sync:
    name: Check for Latest Version
    defaults:
      run:
        shell: bash
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Setting up Python
        uses: actions/setup-python@v1.1.1
        with:
          python-version: 3.8
          architecture: x64

      - name: Find latest pmdarima version
        id: pypi_version_check  # Need this to refer to output below
        run: |
          pip install yolk3k
          output=($(yolk -V pmdarima))
          echo "::set-output name=pypi_version::${output[1]}"

      - name: Find Docker version
        id: docker_version_check  # Need this to refer to output below
        run: |
          output=($(cat common/build.mk | grep "PMDARIMA_VSN :="))
          echo "::set-output name=docker_version::${output[2]}"

      - name: Update version in Docker
        if: steps.pypi_version_check.outputs.pypi_version != steps.docker_version_check.outputs.docker_version
        run: sed -i "9s/.*/PMDARIMA_VSN := ${{ steps.pypi_version_check.outputs.pypi_version }}/" common/build.mk

      - name: Create Pull Request
        if: success() && steps.pypi_version_check.outputs.pypi_version != steps.docker_version_check.outputs.docker_version
        uses: peter-evans/create-pull-request@v2
        with:
          commit-message: Bump pmdarima version
          title: 'Version ${{ steps.pypi_version_check.outputs.pypi_version }}'
          body: |
            Bump docker version to ${{ steps.pypi_version_check.outputs.pypi_version }}

            Auto-generated by [create-pull-request][1]

            [1]: https://github.com/peter-evans/create-pull-request
          reviewers: tgsmith61591, charlesdrotar, aaronreidsmith
          branch: version-${{ steps.pypi_version_check.outputs.pypi_version }}
          branch-suffix: random

      - name: Check outputs
        if: success() && steps.pypi_version_check.outputs.pypi_version != steps.docker_version_check.outputs.docker_version
        run: echo "Pull Request Number - ${{ env.PULL_REQUEST_NUMBER }}"
