name: Keep Docker in Sync

on:
  schedule:
    - cron: '0 7 * * *'  # Every day at 07:00 UTC (1AM CST or 2AM CDT)

# Just for testing...
  push:
    branches:
      - '*'


jobs:
  build-and-deploy:
    name: Check for Latest Version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Setting up Python
        uses: actions/setup-python@v1.1.1
        with:
          python-version: 3.8
          architecture: x64

      - name: Find latest pmdarima version
        id: pypi_version_check  # Need this to refer to output below
        run: |
          pip install yolk3k
          output=($(yolk -V pmdarima))
          echo "Output: $output"
          echo "PyPI Version: ${output[2]}"
          echo "::set-output name=pypi_version::${output[2]}"
        shell: bash

      - name: Find Docker version
        id: docker_version_check  # Need this to refer to output below
        run: |
          output=($(cat common/build.mk | grep "PMDARIMA_VSN :="))
          echo "Output: $output"
          echo "Docker Version: ${output[3]}"
          echo "::set-output name=docker_version::${output[3]}"
        shell: bash

      - name: Update version in Docker
        if: steps.pypi_version_check.outputs.pypi_version != steps.docker_version_check.outputs.docker_version
        run: |
          sed -i .bak '9s/.*/PMDARIMA_VSN := ${{ steps.docker_version_check.outputs.pypi_version }}/' common/build.mk
          rm -f common/build.mk.bak
        shell: bash

      - name: Create Pull Request
        if: success() && steps.pypi_version_check.outputs.pypi_version != steps.docker_version_check.outputs.docker_version
        uses: peter-evans/create-pull-request@v2
        with:
          token: ${{ secrets.TEST_TOKEN }}
          commit-message: Bump pmdarima version
          title: 'Version ${{ steps.pypi_version_check.outputs.pypi_version }}'
          body: |
            Bump docker version to ${{ steps.pypi_version_check.outputs.pypi_version }}

            Auto-generated by [create-pull-request][1]

            [1]: https://github.com/peter-evans/create-pull-request
          reviewers: tgsmith61591, aaronreidsmith, drotarcharles
          branch: version-${{ steps.pypi_version_check.outputs.pypi_version }}
          branch-suffix: random

      - name: Check outputs
        if: success() && steps.pypi_version_check.outputs.pypi_version != steps.docker_version_check.outputs.docker_version
        run: echo "Pull Request Number - ${{ env.PULL_REQUEST_NUMBER }}"
